<footer>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-5 col-md-12 pe-5">
                <p><img src="{{ asset('img/E-TRAVEL.png') }}" width="200" height="200" alt=""></p>
                <p>L'objectif de notre site est de vous faire économiser sur les prix de vos deplacements vers la destination que vous souhaitez grace aux nombreuses offres de nos agences de voyage partenaires</p>
                <div class="follow_us">
                    <ul>
                        <li>Suivez-nous</li>
                        <li><a href="#0"><i class="ti-facebook"></i></a></li>
                        <li><a href="#0"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#0"><i class="ti-google"></i></a></li>
                        <li><a href="#0"><i class="ti-pinterest"></i></a></li>
                        <li><a href="#0"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ms-lg-auto">
                <h5>Liens utiles</h5>
                <ul class="links">
                    <li><a href="{{ path('/') }}">Accueil</a></li>
                    <li><a href="{{ path('allannonce') }}">Annonces</a></li>
                    <li><a href="{{ path('about') }}">A propos de nous?</a></li>
                    <li><a href="blog.html">Devenir notre paternaire</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contactez-nous</h5>
                <ul class="contacts">
                    <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 33 6 80 93 34 00</a></li>
                    <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@e-travel.com</a></li>
                </ul>
                <div id="newsletter">
                    <h6>Newsletter</h6>
                    <div id="message-newsletter"></div>
                    <form method="post" action="phpmailer/newsletter_template_email.php" name="newsletter_form" id="newsletter_form">
                        <div class="form-group">
                            <input type="email" name="email_newsletter" id="email_newsletter" class="form-control" placeholder="Votre email">
                            <input type="submit" value="Envoyer" id="submit-newsletter">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <ul id="footer-selector">
                    <li>
                        <div class="styled-select" id="lang-selector">
                            <select>
                                <option value="English" selected>English</option>
                                <option value="French">French</option>
                                <option value="Spanish">Spanish</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="styled-select" id="currency-selector">
                            <select>
                                <option value="US Dollars" selected>US Dollars</option>
                                <option value="Euro">Euro</option>
                            </select>
                        </div>
                    </li>
                    <li><img src="img/cards_all.svg" alt=""></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul id="additional_links">
                    <li><a href="#0">Termes et conditions</a></li>
                    <li><a href="#0">Confidentialité</a></li>
                    <li><span>E-Travel© </span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
